.header {
    border-bottom: 1px solid #ECECEC;

    @media screen and (max-width: 767) {
        padding-top: 16px;
        padding-bottom: 16px;
        position: relative;
    }
}


.header-flex {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

}

.nav {
    @media screen and (max-width: 767px) {
        display: none;
        
    }

        display: flex;
        gap: 50px;
        margin-left: 92px;
        
}

.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--header-letter-spacing);
    color: inherit;

    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;

    @media screen and (max-width: 767px) {
        padding-top: 0;
        padding-bottom: 0;
    }

&--active {
        color: var(--accent-color);

        &::after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: -2px;
                right: -2px;
        
                display: block;
                height: 4px;
                background-color: var(--accent-color);
                border-radius: 2px;

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
    }

    @media screen and (max-width: 767px) {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 40px;
        line-height: 1.2;          
    }
}



.header-connect__link {
display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: var(--header-letter-spacing);
    color: var(--secondary-color);

    @media screen and (min-width: 768px) {
            font-size: 12px;
            line-height: 1.17;
            display: inline-flex;
            align-items: center;
        }

    @media screen and (min-width: 1200px) {
        
        font-size: 14px;
        line-height: 1.14;

        }
}

.header-connect__envelope,
.header-connect__smartphone {
    fill: currentColor;
    margin-right: 10px;
}

.header-connect {
@media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (max-width: 1199px) {
        flex-direction: column;
        gap: 10px;
    }

        display: inline-flex;   
        margin-left: auto;
        text-align: center;
        gap: 30px;
}

.nav__item {
    position: relative;
}



