:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-background-color: #F5F5F5;
    --secondary-background-color: #2F303A;
    --main-letter-spacing: 0.03em;
    --header-letter-spacing: 0.02em;
    --logo-letter-spacing: 0.03em;
    --title-letter-spacing: 0.06em;
    --btn-letter-spacing: 0.06em;
    --main-logo-color: #212121;
    --logo-accrnt-color: #2196F3;
    --foot-logo-color: #FFFFFF;
    --soc-link-color: #afb1b8;
    --portfolio-btn-color: #F5F4FA;
    --team-background-color: #F5F4FA;
    --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}